// import bootstrap scss
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap/scss/functions', '~bootstrap/scss/_variables.scss';

.navbar {
    margin-bottom: 50px;
    border-bottom: 1px solid theme-color('primary');
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 1em;
    align-self: flex-start;
    text-align: center;
}

.flex_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@import '~ngx-bootstrap/datepicker/utils/scss/variables';
@import '~ngx-bootstrap/datepicker/utils/scss/mixins';

